html, body {
  height: 100%;
  font-size: 13px; }

.alert {
  padding: 8px 15px;
  border: none;
  text-align: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 98px;
  width: 30%;
  margin-left: -15%;
  left: 50%; }

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 20px; }
  .wrap > .container {
    padding: 56px 15px 20px; }

.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px; }

.jumbotron {
  text-align: center;
  background-color: transparent; }
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px; }

.not-set {
  color: #c55;
  font-style: italic; }

a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px; }

a.asc:after {
  content: "\e151"; }

a.desc:after {
  content: "\e152"; }

.sort-numerical a.asc:after {
  content: "\e153"; }

.sort-numerical a.desc:after {
  content: "\e154"; }

.sort-ordinal a.asc:after {
  content: "\e155"; }

.sort-ordinal a.desc:after {
  content: "\e156"; }

.grid-view th {
  white-space: nowrap; }

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999; }

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0; }

.hidden {
  display: none; }

.visible {
  display: block; }

.ss-icon {
  font-size: 22px; }

.accordion {
  cursor: pointer; }

.table-striped > tbody > tr.parent {
  background-color: #f5f5f5; }

.table-striped > tbody > tr.child {
  background-color: white; }

.table-striped > tbody > tr.child.highlight {
  background-color: #faffd3; }

.form-control::-webkit-input-placeholder {
  color: #bbb; }

.form-control::-moz-placeholder {
  color: #bbb; }

.form-control:-ms-input-placeholder {
  color: #bbb; }

.form-control::placeholder {
  color: #bbb; }

.modal-backdrop {
  z-index: 1030;
  position: fixed; }

.table-simple > thead > tr > th {
  background-color: #f5f5f5; }

.table-simple > tbody > tr > td {
  background-color: #fff; }

.navbar {
  min-height: 40px; }

.navbar-test {
  background-color: #999999;
  background-image: none; }

.navbar-brand {
  padding: 12px 15px;
  height: 40px;
  font-size: 17px; }

.navbar-nav > li > a {
  padding-top: 12px;
  padding-bottom: 12px; }

.well {
  border-radius: 2px;
  box-shadow: none;
  border: none;
  padding: 24px 30px; }

label {
  margin-bottom: 3px; }

.form-group {
  margin-bottom: 12px; }

.form-control {
  font-size: 13px;
  height: 32px;
  padding: 4px 10px; }

.input-group-addon {
  padding: 7px 12px;
  font-size: 13px; }

.select2-container--krajee .select2-selection {
  font-size: 13px; }

.select2-container--krajee .select2-selection__clear {
  font-size: 13px; }

.select2-container--krajee .select2-selection--single {
  height: 32px; }

.select2-container--krajee .select2-selection--single .select2-selection__arrow {
  height: 30px; }

.btn {
  font-size: 13px;
  padding: 6px 10px; }

a.btn {
  display: inline;
  padding: 8px 10px; }

a.inline-block {
  display: inline-block; }

.mt-21 {
  margin-top: 21px; }

h1 {
  font-size: 22px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 18px; }

.pagination {
  margin: 10px 0; }

.pagination > li > a, .pagination > li > span {
  padding: 4px 10px; }

.dealers label {
  font-weight: normal;
  padding-right: 10px; }
